@using LBPUnion.ProjectLighthouse.Helpers
@using LBPUnion.ProjectLighthouse.Localization
@model LBPUnion.ProjectLighthouse.PlayerData.Profiles.User

@{
    bool showLink = (bool?)ViewData["ShowLink"] ?? false;
    bool isMobile = (bool?)ViewData["IsMobile"] ?? false;
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
}

<div class="userCard">
    @if (showLink)
    {
        @:<a href="/user/@Model.UserId">
    }
    <p>@Model.Username</p>
    <div class="cardIcon userCardIcon">
        <img src="/gameAssets/@Model.WebsiteAvatarHash" alt="">
    </div>
    <div class="cardStats">
        <p class="cardStatusText">
            <i>@Model.Status.ToTranslatedString(language)</i>
        </p>
        <div class="cardStatsUnderTitle">
            <i class="pink bx bxs-heart" title="Hearts"></i> <span>@Model.Hearts</span>
            <i class="blue bx bxs-message-rounded-dots" title="Comments"></i> <span>@Model.Comments</span>
            <i class="green bx bxs-cloud-upload " title="Uploaded Levels"></i><span>@Model.UsedSlots</span>
            <i class="orange bx bxs-camera" title="Uploaded Photos"></i><span>@Model.PhotosByMe</span>
        </div>
    </div>
    @if (showLink)
    {
        @:</a>
    }
</div>