@page "/login"
@using LBPUnion.ProjectLighthouse.Configuration
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.LoginForm

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = Model.Translate(GeneralStrings.LogIn);
}

<script src="https://geraintluff.github.io/sha256/sha256.min.js"></script>

<script>
    function onSubmit(form) {
        if (document.referrer !== null && document.referrer !== "") {
            const url = new URL(document.referrer);
            if (url.pathname !== "/logout" && url.pathname !== "/login")
                document.getElementById("redirect").value = url.pathname;
        }
        
        const passwordInput = document.getElementById("password");
        const passwordSubmit = document.getElementById("password-submit");
        
        passwordSubmit.value = sha256(passwordInput.value);
        return true;
    }
</script>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="container box-container box-background error">
        <div class="divider-dashed no-margin"></div>
        <div class="box-margin">
            <h3 class="header no-margin">
                @Model.Translate(GeneralStrings.Error)
            </h3>
            <p class="no-margin">@Model.Error</p>
        </div>
        <div class="divider-dashed no-margin"></div>
    </div>
}

<form class="ui form" onsubmit="return onSubmit(this)" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" id="redirect" name="redirect">

    <div class="field">
        <label>@Model.Translate(GeneralStrings.Username)</label>
        <div class="input">
            <i class="bx bx-user"></i>
            <input class="no-input" type="text" name="username" id="text" placeholder="@Model.Translate(GeneralStrings.Username)">
        </div>
    </div>

    <div class="field">
        <label>@Model.Translate(GeneralStrings.Password)</label>
        <div class="input">
            <i class="bx bx-lock"></i>
            <input class="no-input" type="password" id="password" placeholder="@Model.Translate(GeneralStrings.Password)">
            <input type="hidden" id="password-submit" name="password">
        </div>
    </div>

    @if (ServerConfiguration.Instance.Captcha.CaptchaEnabled)
    {
        @await Html.PartialAsync("Partials/CaptchaPartial")
    }
    
    <div class="row">
        <input type="submit" value="@Model.Translate(GeneralStrings.LogIn)" id="submit" class="bg-pink">
        @if (ServerConfiguration.Instance.Authentication.RegistrationEnabled)
        {
            <a href="/register" class="bg-orange button">
                @Model.Translate(GeneralStrings.Register)
            </a>
        }       
    </div>
    <br/>
        <a href="/passwordResetRequest">
            @Model.Translate(GeneralStrings.ForgotPassword)
        </a>
</form>