@page "/admin/users"
@using LBPUnion.ProjectLighthouse.PlayerData.Profiles
@using LBPUnion.ProjectLighthouse.Types
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Admin.AdminPanelUsersPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Users";
}

<p>There are currently @Model.UserCount users registered to your instance.</p>
<p><b>Note:</b> Users are ordered by most-recent-first.</p>
<div class="divider-solid no-margin"></div>
<table class="users-table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>IsAdmin</th>
            <th>Banned</th>
            <th>Banned Reason</th>
        </tr>
        <tr>
            <th><div class="divider-dashed no-margin"></div></th>
            <th><div class="divider-dashed no-margin"></div></th>
            <th><div class="divider-dashed no-margin"></div></th>
            <th><div class="divider-dashed no-margin"></div></th>
            <th><div class="divider-dashed no-margin"></div></th>
        </tr>
    </thead>
    <tbody>
    @foreach (User user in Model.Users)
    {
        var bannedReason = "x";
        if(user.Banned) bannedReason = user.BannedReason;
        <tr>
            <td>@user.UserId</td>
            <td>@user.Username</td>
            <td>@user.IsAdmin</td>
            <td>@user.Banned</td>
            <td>@bannedReason</td>
        </tr>
        @if(user != Model.Users.Last()){
            <tr>
                <td><div class="divider-dashed no-margin"></div></td>
                <td><div class="divider-dashed no-margin"></div></td>
                <td><div class="divider-dashed no-margin"></div></td>
                <td><div class="divider-dashed no-margin"></div></td>
                <td><div class="divider-dashed no-margin"></div></td>
            </tr>
        }
    }
    </tbody>
</table>
<div class="divider-solid no-margin"></div>